body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  width: 840px;
  margin: 0 auto;
}
.game {
  width: 200px;
  box-sizing: border-box;
  height: 100px;
  padding: 10px;
  padding-top: 22px;
  padding-left: 16px;
  margin: 5px;
  float: left;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #fafafa;
  box-shadow: 0 0 5px #ccc;
}
